body {
    background-color: grey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h3 {
    text-align: center;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
}

th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: whitesmoke;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
}

.checkout-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #338ae0;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #2c78c4;
}

.back-to-dashboard {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-dashboard:hover {
    background-color: #0056b3;
}
